/* Fonts  */

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/OpenSansCondensed-Bold.eot');
  src: url('../fonts/OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
    url('../fonts/OpenSansCondensed-Bold.woff') format('woff'),
    url('../fonts/OpenSansCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}




/* Global styles */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

*:focus {
  outline: 2px dotted #de2e54;
  outline-offset: 2px;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

/* SITE-HEADER */
header {
  padding: 24px 0;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}

.site-logo:hover {
  color: #de2e54;
}

.site-logo:active {
  opacity: 0.6;
}

.site-logo img {
  margin-right: 16px;
  width: 50px;
  height: 50px;
}


/* SITENAV */

.sitenav {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.sitenav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitenav-item:not(:last-child) {
  margin-right: 32px;
}

.sitenav-link {
  display: block;
  color: #222;
  text-decoration: none;
}

.sitenav-link:hover {
  color: #de2e54;
}

.sitenav-link:active {
  opacity: 0.6;
}



/* MAIN-LINK */

.main-link {
  display: inline-block;
  border: 2px solid #de2e54;
  border-radius: 8px;
  padding: 10px 22px;
  text-decoration: none;
  background-color: #de2e54;
  color: #fff;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-link:hover {
  background-color: #fff;
  color: #de2e54;
}


.main-link:active {
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
}